<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan Department">
  <parameter name="URL" value="google.com"/>
  <test name="Test">
    <classes>
      <class name="TestNG.day1">
          <methods>
              <include name="Demo"/>
          </methods>
      </class>
      <class name="TestNG.AfterTestCase"/>
      <class name="TestNG.BeforeTestCase"/>
      <class name="TestNG.day2"/>
      <class name="TestNG.day4"/>
      <class name="TestNG.AfterSuiteTest"/>
      <class name="TestNG.BeforeSuiteTest"/>
      <class name="TestNG.BeforeMethodTest"/>
      <class name="TestNG.AfterMethodTest"/>
      <class name="TestNG.BeforeClassTest"/>
      <class name="TestNG.AfterClassTest"/>
    </classes>
  </test> 
  <test name="Car Loan">
  	<parameter name="APIKey" value="Fenerbahce"/>
  	<classes>
  		<class name="TestNG.day3">
  			<methods>
  				/*include*/
  				/*Mobile.* mobile ile başlayan classları çalıştırmaz(exclude)*/
  				<include name="Mobile.*"/>
  			</methods>
  		</class>
  	</classes>
  </test>
</suite> 
